
:root{
    --firstColorHue: 47;
    --secondColorHue: 95%;
    --thirdColorHue: 56%;
    --firstBackgroundHue: 252;
    --secondBackgroundHue: 30%;
    --thirdBackgroundHue: 92%;

    --gray: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
    --light: hsl(var(--firstBackgroundHue), var(--secondBackgroundHue), var(--thirdBackgroundHue));
    --black: hsl(0, 0%, 0%);
    --yellow: hsl(var(--firstColorHue), var(--secondColorHue), var(--thirdColorHue));
    --primary: hsl(252, 75%, 60%);
    --info: hsl(249, 74%, 40%);
    --secondary: hsl(252, 60%, 65%);
    --danger: hsl(352, 81%, 50%);
    --success: hsl(120, 79%, 42%);
    --gray: hsl(252, 15%, 65%);
    --dark: hsl(252, 30%, 17%);
    --black: hsl(252, 30%, 10%);


    --padding: 1rem 2rem;
    --margin: 1rem;
    --border-radius: 1rem;
    --border-card-radius: 1rem;
    --border-card-right-radius: 1.2rem;
    --border-card-left-radius: 1.2rem;
    --card-padding: .7rem 1rem;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .15s linear;
}
::selection{
    background: var(--yellow);
    color: var(--yellow);
}
html{
    font-size: 72.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: var(--gray);
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body {
    background: var(--light);
    color: var(--black);
    padding: var(--padding);
    text-align: center;
}


.container-admin {
    width: 86%;
}

.help-inline {
    color: red;
}

.home,
.about,
.education,
.portfolio {
    background: var(--white);
    padding: var(--card-padding);
    text-align: center;
    border-radius: var(--border-card-radius);
    margin-bottom: var(--margin);
}

.portfolio .portfolio_img {
    width: 9vw;
    height: 7vw;
    border-radius: var(--border-card-radius);
    border: solid .1rem var(--info);
}

.btn{
    background-color: var(--yellow);
    color: var(--white);
    padding: .5rem 1rem;
    border: solid .1rem var(--info);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}
.btn:hover{
    background-color: transparent;
    color: var(--black);
    opacity: .9;
}
.btn-primary {
    background: var(--primary);
}
.btn-secondary {
    background: var(--secondary);
}
.btn-info {
    background: var(--info);
}
.btn-success {
    background: var(--success);
}
.btn-danger {
    background: var(--danger);
}
.btn-yellow {
    background: var(--yellow);
}
.btn-default {
    background: var(--default);
    border: var(--gray) solid .1rem;
    color: var(--black);
    
}

/* Form */
.container-form {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 5rem;

}

.theform {
    font-size: 100%;
    text-align: left;
    background-color: var(--white);
    padding: 2rem 3rem;
    border-radius: var(--border-card-radius);
    box-shadow: 0 0 .6rem dimgray;
}

.theform input {
    padding: var(--card-padding);
    border-radius: var(--border-card-radius);
    margin-bottom: .5rem;
}

.theform label {
    font-size: 1.2rem;
}
