
:root{
    --firstColorHue: 47;
    --secondColorHue: 95%;
    --thirdColorHue: 56%;
    --firstBackgroundHue: 252;
    --secondBackgroundHue: 30%;
    --thirdBackgroundHue: 92%;

    --gray: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
    --light: hsl(var(--firstBackgroundHue), var(--secondBackgroundHue), var(--thirdBackgroundHue));
    --black: hsl(0, 0%, 0%);
    --yellow: hsl(var(--firstColorHue), var(--secondColorHue), var(--thirdColorHue));

    --padding: 1rem 2rem;
    --border-card-radius: .7rem;
    --card-padding: .1rem 1rem;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all .25s linear;
}
::selection{
    background: var(--selection);
    color: var(--yellow);
}
html{
    font-size: 72.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: var(--gray);
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body {
    background: var(--gray);
    color: var(--black);
    padding: var(--padding);
}
.btn{
    background-color: var(--gray-2);
    color: var(--white);
    padding: .6rem 1.1rem;
    border: solid 1px var(--yellow);
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2rem;
}
.btn:hover{
    background-color: var(--yellow);
    color: var(--black);
    border: solid 1px var(--white);
}
.btn {
    background: var(--yellow);
}
.container-admin {
    width: 86%;
}

.portfolio {
    background: var(--white);
    padding: var(--card-padding);
    text-align: center;
    border-radius: var(--border-card-radius);
    border: solid 1px var(--yellow);
}
.portfolio .portfolio_img {
    width: 11vw;
    height: 9vw;
    border-radius: var(--border-card-radius);
    border: solid 1px var(--yellow)
}